body {
    background: rgb(95, 44, 205);
    background: linear-gradient(90deg, rgba(95, 44, 205, 1) 16%, rgba(151, 77, 255, 1) 71%);
}

.adspace3 {
    width: 100%;
    height: 12vh;
    background-color: grey;
    color: rgb(218, 218, 218);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
}

.usermenu {
    width: 15%;
    height: 19vh;
    background-color: rgb(95, 44, 205);
    color: white;
    top: 0;
    left: 0;
    margin: 7% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont_panel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(95, 44, 205);
}

input {
    width: 60%;
    height: 6.2vh;
    background-color: rgba(250, 250, 250, 0.781);
    position: fixed;
    outline: 0;
    bottom: 0;
    margin: 0 0 17px 32vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 17px;
    border-color: rgb(95, 44, 205);
    padding-left: 0.5cm;
}

.messagebox {
    width: 69%;
    height: 75vh;
    background-color: #dbd9d9;
    position: fixed;
    margin: 9vh 0 0 33vh;
    top: 5%;
    display: flex;
    flex-direction: column;
}

.partnername {
    width: 100%;
    height: 7vh;
    background: rgb(151, 77, 255);
    background: linear-gradient(90deg, rgba(151, 77, 255, 1) 18%, rgba(96, 45, 206, 1) 69%, rgba(95, 44, 205, 1) 82%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    box-sizing: border-box;
    padding: 20px;
    color: rgb(231, 211, 211);
}

.mymsg {
    width: 20%;
    height: 5vh;
    background-color: rgb(170, 173, 170);
    color: black;
    margin-left: 78%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.partnermsg {
    width: 30%;
    height: 5vh;
    background: rgb(95, 44, 205);
    background: linear-gradient(90deg, rgba(95, 44, 205, 1) 16%, rgba(151, 77, 255, 1) 71%);
    font-size: 15px;
    color: #FFF7FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
}

.sendmsg button {
    width: 10%;
    height: 7vh;
    position: fixed;
    bottom: 0;
    margin: 5vh 15% 2.1vh 147.1vh;
    border-color: rgb(95, 44, 205);
    background-color: #260c40;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.cont_panel button {
    width: 28vh;
    height: 5vh;
    margin: 3px;
    cursor: pointer;
}